(
    window_size: (1582, 790),
    window_position: (164, 102),
    browser_width: 276.0,
    browser_height: 381.0,
    table_height: 486.0,
    waveview_width: 1305.0,
    libraries: [
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
    ],
    recents: [
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
        "C:\\Rust\\vizia-sample-browser\\the-libre-sample-pack",
    ],
)