* {
    color: #fff;
}

:root {
    child-space: 16px;
    background-color: #181818;
}

smart-table {
    background-color: #323232;
    overflow: hidden;
    border-radius: 8px;
    height: auto;
    /* background-color: red; */
}

smart-table-row {
    height: 32px;
    /* background-color: blue; */
}

smart-table-row.header {
    background-color: #484848;
}

smart-table-row.header * {
    color: #a8a8a8;
    font-weight: 600;
}

.smart-table-row-data-container {
    child-left: 8px;
    child-right: 8px;
    child-top: 4px;
    child-bottom: 4px;
    overflow: hidden;
}

.smart-table-divisor {
    width: 1s;
    height: 2px;
    background-color: #282828;
}

.smart-table-divisor.vertical {
    width: 2px;
    height: 1s;
    background-color: #282828;
}

.smart-table-divisor.accent {
    background-color: #686868;
}

resize-handle {
    width: 1s;
    height: 0px;
}

resize-handle element {
    width: 1s;
    height: 8px;
    top: -4px;
    z-index: 16;
    background-color: #8c8c8c00;
}

resize-handle.active {
    background-color: #8c8c8c;
}

resize-handle.vertical {
    width: 0px;
    height: 1s;
}

resize-handle.vertical element {
    width: 8px;
    height: 1s;
    top: 0px;
    left: -4px;
}
