* {
    color: #fff;
}

icon {
    width: 20px;
    height: 20px;
}

:root {
    child-space: 16px;
    background-color: #181818;
}

smart-table {
    background-color: #323232;
    border-radius: 8px;
    height: auto;
    /* background-color: red; */
}

smart-table-row {
    height: 32px;
    /* background-color: blue; */
}

smart-table-row.even {
    background-color: #404040;
}

smart-table-row.header {
    background-color: #484848;
}

smart-table-row.header * {
    color: #a8a8a8;
    font-weight: 600;
}

.smart-table-row-data-container {
    child-left: 8px;
    child-right: 8px;
    child-top: 4px;
    child-bottom: 4px;
    overflow: hidden;
}

.smart-table-row-data-container.hidden {
    width: 0px;
    display: none;
    pointer-events: none;
}

.smart-table-divisor {
    width: 1s;
    height: 2px;
    background-color: #282828;
}

.smart-table-divisor.vertical {
    width: 2px;
    height: 1s;
    background-color: #282828;
}

.smart-table-divisor.accent {
    background-color: #686868;
}

.smart-table-divisor:disabled {
    width: 0px;
    height: 0px;
    display: none;
}

resize-handle {
    width: 1s;
    height: 6px;
    top: -3px;
    z-index: 2;
    background-color: #336bcc00;
    transition: background-color 100ms;
}

resize-handle:hover {
    background-color: #336bcc;
    transition: background-color 100ms;
}

resize-handle.active {
    background-color: #90b7f9;
    transition: background-color 100ms;
}

resize-handle.vertical {
    width: 6px;
    height: 1s;
    top: 0px;
    left: -2px;
}

resize-handle:disabled {
    width: 0px;
    height: 0px;
    display: none;
}

.smart-table-row-popup {
    background-color: red;
    child-top: 8px;
    child-bottom: 8px;
    border-radius: 4px;
}

.smart-table-row-popup label {
    child-left: 8px;
    child-right: 8px;
    color: #fff;
    font-weight: 400;
}

popup-menu {
    z-index: 100;
    min-width: 160px;
    width: auto;
    height: auto;
    background-color: #282828;
    border-radius: 8px;
    box-shadow: 0px 0px 16px #00000044;
    opacity: 1;
    display: flex;
    transition: opacity 100ms;
}

popup-menu.hidden {
    /* background-color: transparent; */
    /* width: 10px; */
    /* height: 10px; */
    display: none;
    opacity: 0;

    transition: opacity 100ms;
}

popup-menu.topleft-corner {
    border-radius: 0px 8px 8px 8px;
}

popup-menu.topright-corner {
    border-top-right-radius: 0px;
}

popup-menu.bottomleft-corner {
    border-bottom-left-radius: 0px;
}

popup-menu.bottomright-corner {
    border-bottom-right-radius: 0px;
}

popup-divisor {
    width: 1s;
    height: 2px;
    background-color: #323232;
}

popup-action {
    width: 1s;
    height: auto;
    child-top: 4px;
    child-bottom: 4px;
    child-left: 8px;
    child-right: 8px;
    col-between: 4px;
    background-color: #18181800;

    transition: background-color 100ms;
}

popup-action.with-icon {
    child-left: 4px;
}

popup-action label {
    color: #a8a8a8;
    top: 1s;
    bottom: 1s;

    transition: color 100ms;
}

popup-action.active icon {
    color: #a8a8a8;
}

popup-action icon {
    color: #8c8c8c;
}

popup-action:hover {
    background-color: #181818;

    transition: background-color 100ms;
}

popup-action:hover > label {
    color: #fff;

    transition: color 100ms;
}
