/* * {
    border: 1px red;
} */

* {
    color: #fff;
}

:root {
    background-color: #181818;
}

.panel-icon {
    color: #90b7f9;
    font-size: 20;
    size: 28px;
}

.header icon {
    size: 28px;
}

.button-group {
    background-color: #484848;
    border-radius: 4px;
    font-size: 20;
}

browser {
    size: 1s;
    row-between: 8px;
}

browser > .header {
    height: 28px;
    width: 1s;
    col-between: 1s;
}

browser > .footer {
    height: auto;
    width: 1s;
    child-left: 1s;
    child-right: 1s;
}

.folder-icon:checked {
    color: #90b7f9;
}

.searchbar {
    max-height: 0px;
    transition: max-height 100ms;
    overflow: hidden;
}

.searchbar.shown {
    max-height: 28px;
    transition: max-height 100ms;
}

textbox.search {
    background-color: #484848;
}

textbox.search:checked {
    background-color: #484848;
}

textbox.search .placeholder {
    color: #a8a8a8;
}

toggle-button {
    background-color: #484848;
    size: 28px;
    border-radius: 4px;
}

toggle-button:checked {
    background-color: #336bcc;
}

icon {
    size: 20px;
}

browser icon.toggle_folder {
    cursor: hand;
}

textbox {
    border-color: transparent;
    background-color: #484848;
    height: 28px;
}

button.menu-button {
    background-color: #484848;
    size: 28px;
    font-size: 20;
}

.header.browser {
    left: 0px;
}

.footer > label {
    background-color: #282828;
    border-radius: 4px;
    child-top: 4px;
    child-bottom: 4px;
    child-left: 8px;
    child-right: 8px;
}

.dir-item > label {
    height: 20px;
    /* border: 1px blue; */
}

.dir-item {
    height: 28px;
    width: 1s;
    border-radius: 4px;
    child-space: 4px;
    col-between: 3px;
    cursor: hand;
}

.dir-item:hover {
    background-color: #3d3d3d;
}

.dir-item.selected {
    background-color: #336bcc2f;
}

/* .dir-file.selected:over {
    background-color: #525252;
} */

/* .dir-file label {
    color: gray;
}

.dir-file.focused label {
    color: white;
} */

.dir-line {
    background-color: #595959;
    opacity: 1;
    transition: opacity 100ms;
}

.browser:over .dir-line {
    opacity: 1;
    transition: opacity 100ms;
}

.dir-line.focused {
    background-color: #808080;
    opacity: 1;
    transition: opacity 100ms;
}

.browser.hidden {
    min-width: 0px;
}

/* resizable-stack {
    size: 1s;
    min-width: 200px;
    max-width: 600px;
    min-height: 200px;
    max-height: 600px;
} */

.panel {
    size: 1s;
    background-color: #323232;
    child-space: 8px;
    row-between: 8px;
}

.resize_handle {
    background-color: #484848;
    transition: background-color 100ms;
    transition: opacity 100ms;
    opacity: 0;
}

smart-table.dragging .resize_handle {
    opacity: 1;
    transition: opacity 100ms;
}

smart-table .header:hover .resize_handle {
    opacity: 1;
    transition: opacity 100ms;
}

.resize_handle:over {
    background-color: #336bcc;
    transition: background-color 100ms;
}

.resize_handle.drag_handle {
    background-color: #90b7f9;
    transition: background-color 100ms;
}

scrollview > scroll_content {
    width: 1s;
    right: 0px;
    min-width: 0px;
    transition: right 100ms;
}

scrollview:checked > scroll_content {
    right: 16px;
    transition: right 100ms;
}

scrollview scrollbar.vertical {
    width: 0px;
    transition: width 100ms;
}

scrollview:checked scrollbar.vertical {
    width: 8px;
    transition: width 100ms;
}

scrollbar {
    background-color: #282828;
    border-radius: 4px;
}

scrollbar .thumb {
    background-color: #484848;
    border-radius: 4px;
}

smart-table {
    /* background-color: #323232;
    border-radius: 8px;
    height: auto;
    width: 1s; */
    row-between: 4px;
}

smart-table .header {
    border-radius: 4px;
    background-color: #282828;
    height: 20px;
}

label.column-heading {
    child-space: 1s;
    width: 1s;
}

smart-table .row {
    child-top: 1s;
    child-bottom: 1s;
    /* child-left: 8px;
    child-right: 8px; */
    border-radius: 4px;
}

smart-table .row.odd {
    background-color: #ffffff0c;
}

smart-table-row.even {
    background-color: #404040;
}

smart-table-row.header {
    background-color: #484848;
}

smart-table-row.header * {
    color: #a8a8a8;
    font-weight: 600;
}

.smart-table-row-data-container {
    child-left: 8px;
    child-right: 8px;
    child-top: 4px;
    child-bottom: 4px;
    overflow: hidden;
}

.smart-table-row-data-container.hidden {
    width: 0px;
    display: none;
    pointer-events: none;
}

.smart-table-divisor {
    width: 1s;
    height: 2px;
    background-color: #282828;
}

.smart-table-divisor.vertical {
    width: 2px;
    height: 1s;
    background-color: #282828;
}

.smart-table-divisor.accent {
    background-color: #686868;
}

.smart-table-divisor:disabled {
    width: 0px;
    height: 0px;
    display: none;
}

resize-handle {
    width: 1s;
    height: 6px;
    top: -3px;
    z-index: 2;
    background-color: #18181800;
    transition: background-color 100ms;
}

resize-handle:hover {
    background-color: #336bcc;
    transition: background-color 100ms;
}

resize-handle.active {
    background-color: #90b7f9;
    transition: background-color 100ms;
}

resize-handle.vertical {
    width: 6px;
    height: 1s;
    top: 0px;
    left: -2px;
}

resize-handle:disabled {
    width: 0px;
    height: 0px;
    display: none;
}

.smart-table-row-popup {
    background-color: red;
    child-top: 8px;
    child-bottom: 8px;
    border-radius: 4px;
}

.smart-table-row-popup label {
    child-left: 8px;
    child-right: 8px;
    color: #fff;
    font-weight: 400;
}

popup-menu {
    z-index: 100;
    min-width: 160px;
    width: auto;
    height: auto;
    background-color: #282828;
    border-radius: 8px;
    box-shadow: 0px 0px 16px #00000044;
    opacity: 1;
    display: flex;
    transition: opacity 100ms;
}

popup-menu.hidden {
    /* background-color: transparent; */
    /* width: 10px; */
    /* height: 10px; */
    display: none;
    opacity: 0;

    transition: opacity 100ms;
}

popup-menu.topleft-corner {
    border-radius: 0px 8px 8px 8px;
}

popup-menu.topright-corner {
    border-top-right-radius: 0px;
}

popup-menu.bottomleft-corner {
    border-bottom-left-radius: 0px;
}

popup-menu.bottomright-corner {
    border-bottom-right-radius: 0px;
}

popup-divisor {
    width: 1s;
    height: 2px;
    background-color: #323232;
}

popup-action {
    width: 1s;
    height: auto;
    child-top: 4px;
    child-bottom: 4px;
    child-left: 8px;
    child-right: 8px;
    col-between: 4px;
    background-color: #18181800;

    transition: background-color 100ms;
}

popup-action.with-icon {
    child-left: 4px;
}

popup-action label {
    color: #a8a8a8;
    top: 1s;
    bottom: 1s;

    transition: color 100ms;
}

popup-action.active icon {
    color: #a8a8a8;
}

popup-action icon {
    color: #8c8c8c;
}

popup-action:hover {
    background-color: #181818;

    transition: background-color 100ms;
}

popup-action:hover > label {
    color: #fff;

    transition: color 100ms;
}
