/* * {
    border: 1px red;
} */

/* * {
    color: #fff;
} */

/*
col-0: #000000;
col-1: #181818;
col-2: #2a2a2a;
col-3: #323232;
col-4: #484848;
col-5: #8c8c8c;
*/

:root {
    background-color: #505050;
    color: #ebebeb;
    font-family: "Segoe UI";
    font-size: 12;
    vertical-gap: 1px;
}

label.title {
    font-size: 16;
}

divider {
    background-color: #505050;
}

.dialog {
    background-color: #1e1e1e;
}

.top-bar {
    background-color: #1e1e1e;
    height: 32px;
}

.bottom-bar {
    background-color: #2677c3;
    height: 24px;
    alignment: center;
}

.side-bar {
    vertical-gap: 1px;
}

resizable-stack.side-bar.hidden {
    max-width: 0px;
    transition: max-width 200ms;
}

.content {
    horizontal-gap: 1px;
}

sidebar {
    background-color: #181818;
    width: 50px;
}

sidebar button {
    background-color: transparent;
    background-color: transparent;
    size: 50px;
}

sidebar button svg {
    fill: #8c8c8c;
    size: 28px;
}

sidebar button:hover {
    background-color: transparent;
    background-color: transparent;
}

sidebar button:hover svg {
    fill: #ebebeb;
}

sidebar button:checked svg {
    fill: #ebebeb;
}

menubar {
    background-color: transparent;
}

menubutton {
    background-color: transparent;
    corner-radius: 0px;
}

submenu {
    background-color: transparent;
}

menubutton label {
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
}

menubutton .shortcut {
    width: auto;
    left: auto;
}

menubutton:focus {
    background-color: #666666;
}

menubutton:hover {
    background-color: #666666;
}

menubutton:disabled {
    background-color: transparent;
}

menubar > submenu {
    padding-left: 12px;
    padding-right: 12px;
}

menubar > submenu:checked {
    background-color: #2d2d2d;
}

menubar > submenu:focus {
    background-color: #2d2d2d;
}

menubar > submenu:hover {
    background-color: #2d2d2d;
}

submenu {
    corner-radius: 0px;
}

submenu:checked {
    background-color: #666666;
}

submenu:focus {
    background-color: #666666;
}

submenu:hover {
    background-color: #666666;
}

submenu submenu > popup {
    transform: translateY(-5px);
}

submenu > popup {
    border-width: 1px;
    width: auto;
    min-width: 250px;
    border-color: #505050;
    background-color: #1e1e1e;
    vertical-gap: 1px;
    corner-radius: 4px;
    padding: 0px;
    padding-top: 4px;
    padding-bottom: 4px;
    shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.466);
}

submenu menu-divider {
    padding-top: 4px;
    padding-bottom: 4px;
}

submenu divider {
    background-color: #888888;
}

submenu svg {
    fill: #ebebeb;
}

divider {
    background-color: #505050;
}

popup {
    background-color: #d61515;
}

submenu.panel-menu {
    corner-radius: 4px;
    size: 28px;
    background-color: transparent;
    cursor: hand;
    alignment: center;
    padding: 0px;
}

submenu.panel-menu:hover {
    background-color: #252525;
}

submenu.panel-menu:checked {
    background-color: #2677c3;
}

submenu.panel-menu > svg {
    fill: #ebebeb;
    size: 20px;
}

scrollview.settings > scroll-content {
    padding: 20px;
    vertical-gap: 15px;
}

tabview.settings > scrollview > scroll-content {
    padding: 8px;
}

tabview.settings tabheader label.tab-name {
    width: 220px;
}

tabview.settings tabheader:checked label.tab-name {
    corner-radius: 4px;
    background-color: #2677c3;
}

.settings .panel {
    background-color: #282828;
    horizontal-gap: 1s;
    padding-top: 1s;
    padding-bottom: 1s;
    padding-left: 20px;
    padding-right: 20px;
    width: 1s;
    height: auto;
    corner-radius: 4px;
}

.settings .panel dropdown {
    top: 12px;
    bottom: 12px;
}

dropdown {
    background-color: #353535;
    corner-radius: 4px;
}

dropdown list label {
    cursor: hand;
}

dropdown list label:hover {
    background-color: #51afef34;
}

dropdown list label:checked {
    background-color: #2677c3;
}

svg.panel-icon {
    fill: #ebebeb;
    size: 24px;
}

.header {
    height: 28px;
    width: 1s;
    alignment: left;
    horizontal-gap: 8px;
}

.button-group {
    background-color: #484848;
    border-radius: 4px;
    font-size: 20;
}

.button-group button {
    background-color: transparent;
    alignment: center;
    size: 28px;
    border-radius: 4px;
}

.button-group button:checked {
    background-color: #2677c3;
}

.button-group button:first-child {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.button-group button:last-child {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

resizable-stack.side-bar {
    min-width: 200px;
    max-width: 500px;
    transition: max-width 200ms;
}

resizable-stack.browser {
    min-height: 200px;
    max-height: 80%;
}

resizable-stack.table {
    min-height: 200px;
    max-height: 80%;
}

browser-panel {
    background-color: #181818;
    size: 1s;
    vertical-gap: 8px;
    padding: 8px;
}

browser-panel > .footer {
    height: auto;
    width: 1s;
    alignment: center;
}

browser-panel scrollview {
    overflow-x: visible;
}

browser-panel list scrollview {
    height: auto;
}

browser-panel list list-item {
    height: auto;
}

tags-panel {
    background-color: #181818;
    size: 1s;
    vertical-gap: 8px;
    padding: 8px;
    /* min-height: 200px; */
}

tags-panel > .footer {
    height: auto;
    width: 1s;
    alignment: center;
}

.searchbar {
    max-height: 0px;
    transition: max-height 100ms;
    overflow: hidden;
    display: none;
    transition: display 1ms 100ms;
}

.searchbar.shown {
    max-height: 28px;
    display: flex;
    transition: max-height 100ms;
}

textbox.search {
    background-color: #141414;
}

textbox.search:checked {
    background-color: #141414;
}

textbox.search:placeholder-shown {
    color: #a8a8a8;
}

textbox.search ~ svg.icon {
    fill: #ebebeb;
    left: 8px;
}

textbox:checked {
    border-color: #2677c3;
}

button:focus-visible {
    outline: #336bcc;
    outline-offset: 3px;
    outline-width: 1px;
}

toggle-button:hover,
button:hover {
    background-color: #252525;
}

toggle-button {
    background-color: transparent;
    size: 28px;
    border-radius: 4px;
    cursor: hand;
    padding: 4px;
}

toggle-button > svg {
    fill: #ebebeb;
    size: 1s;
}

toggle-button:checked {
    background-color: #2677c3;
    fill: white;
}

toggle-button:focus-visible {
    outline: #336bcc;
    outline-offset: 3px;
    outline-width: 1px;
}

toggle-button.filter-search {
    size: 20px;
    padding: 2px;
}

toggle-button.filter-search svg {
    fill: #8c8c8c;
}

toggle-button.filter-search:checked svg {
    fill: white;
}

toggle-button.toggle-search {
    left: 1s;
}

/* svg {
    size: 20px;
} */

browser icon.toggle_folder {
    cursor: hand;
}

textbox {
    border-color: transparent;
    background-color: #484848;
    height: 28px;
}

button.menu-button {
    background-color: #484848;
    size: 28px;
    font-size: 20;
}

.header.browser {
    left: 0px;
}

.footer > label {
    padding-left: 8px;
    padding-right: 8px;
}

wave-panel .footer > label {
    background-color: #181818;
    color: #a8a8a8;
}

wave-panel .footer {
    padding-left: 1s;
    padding-right: 1s;
}

directory-item > label {
    height: 20px;
    /* border: 1px blue; */
}

directory-item {
    height: 28px;
    width: 1s;
    border-radius: 2px;
    padding: 4px;
    alignment: center;
    horizontal-gap: 4px;
    cursor: hand;
}

directory-item:hover {
    background-color: #2a2a2a;
}

directory-item.selected {
    background-color: #224b71;
}

directory-item:focus-visible {
    outline: 1px #336bcc;
    outline-offset: -1px;
}

directory-item .dir-num {
    color: #8c8c8c;
    width: auto;
    alignment: center;
}

directory-item .dir-name {
    alignment: left;
}

directory-item .dir-arrow {
    size: 20px;
    color: #8c8c8c;
    background-color: transparent;
}

directory-item .dir-arrow:hover {
    background-color: transparent;
}

directory-item .dir-arrow:active {
    background-color: transparent;
}

directory-item .dir-arrow svg {
    size: 20px;
    space: 0px;
    fill: #8c8c8c;
}

directory-item .dir-icon {
    size: 20px;
    fill: #8c8c8c;
}

directory-item .dir-icon:checked {
    fill: #90b7f9;
}

directory-item.search-match .dir-name {
    color: #90b7f9;
}

/* .dir-file.selected:over {
    background-color: #525252;
} */

/* .dir-file label {
    color: gray;
}

.dir-file.focused label {
    color: white;
} */

.dir-line {
    background-color: #595959;
    opacity: 1;
    transition: opacity 100ms;
}

.browser:over .dir-line {
    opacity: 1;
    transition: opacity 100ms;
}

.dir-line.focused {
    background-color: #808080;
    opacity: 1;
    transition: opacity 100ms;
}

.browser.hidden {
    min-width: 0px;
}

/* resizable-stack {
    size: 1s;
    min-width: 200px;
    max-width: 600px;
    min-height: 200px;
    max-height: 600px;
} */

.panel {
    size: 1s;
    background-color: #181818;
    padding: 8px;
    vertical-gap: 8px;
}

samples-panel {
    size: 1s;
    background-color: #1e1e1e;
    padding: 8px;
    vertical-gap: 8px;
    overflow: hidden;
}

samples-panel .footer {
    height: 22px;
}

wave-panel {
    background-color: #181818;
    size: 1s;
    vertical-gap: 8px;
}

wave-panel > .header {
    background-color: #181818;
    height: 40px;
    width: 1s;
    horizontal-gap: 8px;
    padding: 8px;
    alignment: center;
}

wave-panel > .footer {
    background-color: #1e1e1e;
    height: 40px;
    width: 1s;
    alignment: center;
}

wave-panel waveview {
    background-color: #000000;
    left: 0px;
    right: 0px;
    overflow: hidden;
}

.resize_handle {
    background-color: #484848;
    transition: background-color 100ms;
    transition: opacity 100ms;
    opacity: 0;
}

smart-table .handles resize-handle {
    background-color: #484848;
    opacity: 0;
    transition: opacity 100ms 1s;
}

smart-table.dragging resize-handle {
    background-color: #336bcc;
    opacity: 1;
    transition: opacity 100ms;
}

smart-table .handles:hover resize-handle {
    opacity: 1;
    transition: opacity 100ms 200ms;
}

/* .resize_handle:over {
    background-color: #336bcc;
    transition: background-color 100ms;
}

.resize_handle.drag_handle {
    background-color: #90b7f9;
    transition: background-color 100ms;
} */

scrollbar .thumb {
    background-color: #505050;
    corner-radius: 50%;
    opacity: 0;
    transition: opacity 200ms 0s linear;
}

scrollview.h-scroll:hover > scrollbar.horizontal > .thumb,
scrollview.v-scroll:hover > scrollbar.vertical > .thumb {
    background-color: #505050;
    opacity: 0.5;
    transition: opacity 200ms 0s linear;
}

scrollview.h-scroll:active > scrollbar.horizontal > .thumb,
scrollview.v-scroll:active > scrollbar.vertical > .thumb {
    background-color: #555555;
    opacity: 0.5;
    transition: opacity 200ms 0s linear;
}

scrollview.h-scroll > scrollbar.horizontal:active > .thumb,
scrollview.v-scroll > scrollbar.vertical:active > .thumb {
    background-color: #616161;
    opacity: 0.5;
    transition: opacity 200ms 0s linear;
}

resize-handle {
    width: 1px;
    height: 6px;
    z-index: 2;
    /* background-color: #18181800; */
    background-color: #484848;
    transition: background-color 100ms;
}

resize-handle:hover {
    background-color: #336bcc;
    transition: background-color 100ms;
}

resize-handle.active {
    background-color: #90b7f9;
    transition: background-color 100ms;
}

resize-handle.vertical {
    width: 2px;
    height: 1s;
    top: 0px;
    translate: -1px 0px;
}

resize-handle:disabled {
    width: 0px;
    height: 0px;
    display: none;
}

.transport-controls {
    height: 1s;
    width: auto;
    alignment: center;
    horizontal-gap: 2px;
}

.transport-controls button {
    size: 28px;
    background-color: transparent;
    alignment: center;
}

.transport-controls button:hover {
    background-color: #252525;
}

.transport-controls svg {
    fill: #ebebeb;
    size: 20px;
}

.tag {
    padding: 4px;
    alignment: center;
    horizontal-gap: 8px;
}

.tag > .tag-color {
    size: 16px;
    corner-radius: 50%;
}

.tag > .tag-name {
}

.tag > .tag-num {
    left: 1s;
    width: auto;
    color: #8c8c8c;
}

chip {
    background-color: #1e1e1e;
}

@keyframes animate-expand {
    0% {
        max-height: 0px;
    }
    100% {
        max-height: auto;
    }
}

.treeview-list {
    /* max-height: 0px; */
    overflow: hidden;
}

tooltip {
    max-width: auto;
}

treeview:focus-visible {
    outline-width: 0px;
}
