/* * {
    border: 1px red;
} */

/* * {
    color: #fff;
} */

/*
col-0: #000000;
col-1: #181818;
col-2: #2a2a2a;
col-3: #323232;
col-4: #484848;
col-5: #8c8c8c;
*/

:root {
    background-color: #2a2a2a;
}

.panel-icon {
    color: #90b7f9;
    font-size: 20;
    size: 28px;
}

.header icon {
    size: 28px;
}

.button-group {
    background-color: #484848;
    border-radius: 4px;
    font-size: 20;
}

.button-group button {
    background-color: transparent;
    child-space: 1s;
    size: 28px;
    border-radius: 4px;
}

.button-group button:checked {
    background-color: #336bcc;
}

.button-group button:first-child {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.button-group button:last-child {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

resizable-stack.browser {
    min-width: 200px;
    max-width: 500px;
}

browser-panel {
    background-color: #181818;
    size: 1s;
    row-between: 8px;
    child-space: 8px;
}

browser-panel > .header {
    height: 28px;
    width: 1s;
    col-between: 1s;
}

browser-panel > .footer {
    height: auto;
    width: 1s;
    child-left: 1s;
    child-right: 1s;
}

tags-panel {
    background-color: #181818;
    size: 1s;
    row-between: 8px;
    child-space: 8px;
}

tags-panel > .header {
    height: 28px;
    width: 1s;
    col-between: 1s;
}

tags-panel > .footer {
    height: auto;
    width: 1s;
    child-left: 1s;
    child-right: 1s;
}

.searchbar {
    max-height: 0px;
    transition: max-height 100ms;
    overflow: hidden;
    display: none;
    transition: display 1ms 100ms;
}

.searchbar.shown {
    max-height: 28px;
    display: flex;
    transition: max-height 100ms;
}

textbox.search {
    background-color: #000000;
}

textbox.search:checked {
    background-color: #000000;
}

textbox.search .placeholder {
    color: #a8a8a8;
}

textbox:checked {
    border-color: #336bcc;
}

button:focus-visible {
    outline: #336bcc;
    outline-offset: 3px;
    outline-width: 1px;
}

toggle-button {
    background-color: transparent;
    color: #8c8c8c;
    size: 28px;
    border-radius: 4px;
    cursor: hand;
}

toggle-button > icon.inner {
    size: auto;
}

toggle-button:checked {
    background-color: #336bcc;
    color: white;
}

toggle-button:focus-visible {
    outline: #336bcc;
    outline-offset: 3px;
    outline-width: 1px;
}

toggle-button.filter-search {
    color: #8c8c8c;
}

toggle-button.filter-search:checked {
    color: white;
}

icon {
    size: 20px;
}

browser icon.toggle_folder {
    cursor: hand;
}

textbox {
    border-color: transparent;
    background-color: #484848;
    height: 28px;
}

button.menu-button {
    background-color: #484848;
    size: 28px;
    font-size: 20;
}

.header.browser {
    left: 0px;
}

.footer > label {
    child-left: 8px;
    child-right: 8px;
}

wave-panel .footer > label {
    background-color: #181818;
    color: #a8a8a8;
}

directory-item > label {
    height: 20px;
    /* border: 1px blue; */
}

directory-item {
    height: 28px;
    width: 1s;
    border-radius: 2px;
    child-space: 4px;
    col-between: 3px;
    cursor: hand;
}

directory-item:hover {
    background-color: #2a2a2a;
}

directory-item.selected {
    background-color: #336bcc2f;
}

directory-item:focus-visible {
    outline: 1px #336bcc;
    outline-offset: -1px;
}

directory-item .dir-num {
    color: #8c8c8c;
    width: 30px;
    child-left: 1s;
}

directory-item .dir-arrow {
    color: #8c8c8c;
}

directory-item .dir-icon {
    color: #8c8c8c;
}

directory-item .dir-icon:checked {
    color: #90b7f9;
}

directory-item.search-match .dir-name {
    color: #90b7f9;
}

/* .dir-file.selected:over {
    background-color: #525252;
} */

/* .dir-file label {
    color: gray;
}

.dir-file.focused label {
    color: white;
} */

.dir-line {
    background-color: #595959;
    opacity: 1;
    transition: opacity 100ms;
}

.browser:over .dir-line {
    opacity: 1;
    transition: opacity 100ms;
}

.dir-line.focused {
    background-color: #808080;
    opacity: 1;
    transition: opacity 100ms;
}

.browser.hidden {
    min-width: 0px;
}

/* resizable-stack {
    size: 1s;
    min-width: 200px;
    max-width: 600px;
    min-height: 200px;
    max-height: 600px;
} */

.panel {
    size: 1s;
    background-color: #181818;
    child-space: 8px;
    row-between: 8px;
}

samples-panel {
    size: 1s;
    background-color: #1f1f1f;
    child-space: 8px;
    row-between: 8px;
    overflow: hidden;
}

samples-panel .header {
    height: 24px;
}

samples-panel .footer {
    height: 22px;
}

wave-panel {
    size: 1s;
    background-color: #1f1f1f;
    child-space: 8px;
    row-between: 8px;
}

wave-panel > .header {
    height: 28px;
    width: 1s;
    col-between: 8px;
    child-top: 1s;
    child-bottom: 1s;
}

wave-panel > .footer {
    height: 28px;
    width: 1s;
    col-between: 8px;
    child-top: 1s;
    child-bottom: 1s;
}

wave-panel .waveform {
    background-color: #181818;
    border-radius: 4px;
    child-top: 20px;
    child-bottom: 20px;
}

.resize_handle {
    background-color: #484848;
    transition: background-color 100ms;
    transition: opacity 100ms;
    opacity: 0;
}

smart-table .handles resize-handle {
    background-color: #484848;
    opacity: 0;
    transition: opacity 100ms 1s;
}

smart-table.dragging resize-handle {
    background-color: #336bcc;
    opacity: 1;
    transition: opacity 100ms;
}

smart-table .handles:hover resize-handle {
    opacity: 1;
    transition: opacity 100ms 200ms;
}

/* .resize_handle:over {
    background-color: #336bcc;
    transition: background-color 100ms;
}

.resize_handle.drag_handle {
    background-color: #90b7f9;
    transition: background-color 100ms;
} */

scrollview > scroll_content {
    width: 1s;
    right: 0px;
    min-width: 0px;
    transition: right 100ms;
}

scrollview.vertical > scroll_content {
    right: 16px;
    transition: right 100ms;
}

scrollview scrollbar.vertical {
    width: 0px;
    transition: width 100ms;
}

scrollview.vertical scrollbar.vertical {
    width: 8px;
    transition: width 100ms;
}

scrollbar {
    background-color: #121212;
    border-radius: 4px;
}

scrollbar .thumb {
    background-color: #323232;
    border-radius: 4px;
    opacity: 1;
}

smart-table {
    background-color: #2a2a2a;
    /* background-color: #323232;
    border-radius: 8px;
    height: auto;
    width: 1s; */
    row-between: 1px;
    height: auto;
}

smart-table .row-list {
    background-color: #2a2a2a;
}

smart-table .header {
    height: 20px;
    background-color: #1f1f1f;
}

smart-table label.column-heading {
    child-space: 1s;
    width: 1s;
}

smart-table .row {
    child-top: 1s;
    child-bottom: 1s;
    height: 26px;
    /* child-left: 8px;
    child-right: 8px; */
    background-color: #252525;
}

smart-table .row.odd {
    background-color: #1f1f1f;
}

smart-table .row.even {
    background-color: #252525;
}

smart-table .row-list {
    row-between: 1px;
}

smart-table-row.header {
    background-color: #484848;
}

smart-table-row.header * {
    color: #a8a8a8;
    font-weight: 600;
}

.smart-table-row-data-container {
    child-left: 8px;
    child-right: 8px;
    child-top: 4px;
    child-bottom: 4px;
    overflow: hidden;
}

.smart-table-row-data-container.hidden {
    width: 0px;
    display: none;
    pointer-events: none;
}

.smart-table-divisor {
    width: 1s;
    height: 2px;
    background-color: #282828;
}

.smart-table-divisor.vertical {
    width: 2px;
    height: 1s;
    background-color: #282828;
}

.smart-table-divisor.accent {
    background-color: #686868;
}

.smart-table-divisor:disabled {
    width: 0px;
    height: 0px;
    display: none;
}

resize-handle {
    width: 1px;
    height: 6px;
    z-index: 2;
    /* background-color: #18181800; */
    background-color: #484848;
    transition: background-color 100ms;
}

resize-handle:hover {
    background-color: #336bcc;
    transition: background-color 100ms;
}

resize-handle.active {
    background-color: #90b7f9;
    transition: background-color 100ms;
}

resize-handle.vertical {
    width: 2px;
    height: 1s;
    top: 0px;
    translate: -1px 0px;
}

resize-handle:disabled {
    width: 0px;
    height: 0px;
    display: none;
}

.smart-table-row-popup {
    background-color: red;
    child-top: 8px;
    child-bottom: 8px;
    border-radius: 4px;
}

.smart-table-row-popup label {
    child-left: 8px;
    child-right: 8px;
    color: #fff;
    font-weight: 400;
}

popup-menu {
    z-index: 100;
    min-width: 160px;
    width: auto;
    height: auto;
    background-color: #282828;
    border-radius: 8px;
    box-shadow: 0px 0px 16px #00000044;
    opacity: 1;
    display: flex;
    transition: opacity 100ms;
}

popup-menu.hidden {
    /* background-color: transparent; */
    /* width: 10px; */
    /* height: 10px; */
    display: none;
    opacity: 0;

    transition: opacity 100ms;
}

popup-menu.topleft-corner {
    border-radius: 0px 8px 8px 8px;
}

popup-menu.topright-corner {
    border-top-right-radius: 0px;
}

popup-menu.bottomleft-corner {
    border-bottom-left-radius: 0px;
}

popup-menu.bottomright-corner {
    border-bottom-right-radius: 0px;
}

popup-divisor {
    width: 1s;
    height: 2px;
    background-color: #323232;
}

popup-action {
    width: 1s;
    height: auto;
    child-top: 4px;
    child-bottom: 4px;
    child-left: 8px;
    child-right: 8px;
    col-between: 4px;
    background-color: #18181800;

    transition: background-color 100ms;
}

popup-action.with-icon {
    child-left: 4px;
}

popup-action label {
    color: #a8a8a8;
    top: 1s;
    bottom: 1s;

    transition: color 100ms;
}

popup-action.active icon {
    color: #a8a8a8;
}

popup-action icon {
    color: #8c8c8c;
}

popup-action:hover {
    background-color: #181818;

    transition: background-color 100ms;
}

popup-action:hover > label {
    color: #fff;

    transition: color 100ms;
}
